body{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
.container{
     background-color: #e5e5fd;
     min-height:100vh;
     border: 10px solid #1d1e4c;
}
.content{
     max-width:900px;
     margin: 0 auto;
}
.top_section{
     margin-top: 100px;
     display: flex;
     justify-content: space-between;
     align-items:flex-end;
}
.img_container img{
     border-radius:25%;
     overflow: hidden;
}
.img_container,img{
     height:320px;
     width:300px;
}
.img_container img:hover{
     opacity:50%;
}
.top_section h1{
     font-size:45px;
     font-weight: bold;
     color: #1d1e4c;
     font-family: 'Bree Serif';
     text-transform: uppercase;
     text-shadow: 4px 3px #E3ADBB;
}
.top_section h4{
     font-size:30px;
     font-weight: bold;
     color: #1d1e4c;
     font-family: 'Bree Serif';
     text-align:end;
     text-shadow: 4px 3px #E3ADBB;
}
.about_section{
     margin-top:50px;
}
.about_section h2{
     font-size:60px;
     font-weight:400;
     margin-bottom:20px;
}
.about_section p{
     font-size: 20px;
     line-height:35px;
     letter-spacing:1px;
     text-indent: 50px;
     text-align: justify;
     font-family:Georgia;
}
.biography{
     margin-top:50px;
}
.biography h3{
     font-size: 40px;
     font-weight: 400;
     margin-bottom:20px;
}
.biography ul {
     list-style-type: disc;
}
.biography ul li{
     font-size: 20px;
     text-transform: capitalize;
     line-height:35px;
}
footer{
     margin:20px 0;
}
footer p{
     text-decoration: none;
     color: #E3ADBB;
     text-align: end;
     font-size: 20px;
}
footer p a{
     text-decoration: none;
}
footer p a:hover{
     color:red;
}